<div class="list-articles">
  <% @articles.each do |article| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= article.name %>
        </div>
        <div class="panel-body">
          <%= article.text %>
        </div>
        <div class="panel-footer">
          Теги:
          <% article.tags.each do |tag| %>
              <%= link_to(tag_path(tag.id)) do %>
                  <span class="label label-info"><%= tag.name %></span>
              <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>